<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmTk</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <style>
        form{
            margin: 100px;
        }
        .logo{width: 120px; }
    </style>
</head>
<body>
  
    <form method="post" action="/addData">
        <% posts.forEach((post)=>{  %>
            <input type="hidden" name="id" value="<%=post._id%>" id="">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input name="username" value="<%=post.username%>" type="text" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Blog</label>
              <!-- <input type="text" value=""> -->
              <textarea name="blog" type="text" class="form-control" id="exampleInputEmail1" cols="30" rows="5"><%=post.blog%></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
           
        <% }) %> 
      </form>
</body>
</html>