.signup-form{
    height: 320px;
    width: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-signup{
    padding: 12px 142px;
    margin: 25px 24px;
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .signup-form{
        height: 310px;
        width: 380px;
    }

    .form-signup{
        padding: 12px 142px;
        margin: 25px 24px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .signup-form{
        width: 300px;
        height: 310px;
    }

    .form-signup{
        padding: 12px 102px;
        margin: 25px 25px;
    }
}